doctype html
html
  head
    block head
      title DIƒƒER
      - if (typeof bundles === 'object') {
      link(rel='stylesheet' href=`/css/${bundles.css}`)
      - }
  body
    block content

    include modal.html

    - if (typeof bundles === 'object') {
    script(src=`/js/${bundles.js}`)
    - }
